#myName {
  font-size: 50px;
}

@media only screen and (max-width: 775px) {
  #myName {
    font-size: 40px;
  }
}

@media only screen and (max-width: 435px) {
  #myName {
    font-size: 30px;
  }
}

.btn-dark.active {
  border-width: 0;
}

.btn:focus {
  box-shadow: none !important;
}

.navbar-collapse {
  flex-grow: unset !important;
}

.navbar-brand {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.navbar {
  justify-content: center;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-nav {
  float: right;
}

#navbar {
  justify-content: flex-end;
}
